# OS / editors
.DS_Store
.vscode/

# Python
__pycache__/
*.pyc
*.pyo
.python-version
.ipynb_checkpoints/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.coverage

# Environments
.env
.venv/
env/
venv/

# Build / dist
build/
dist/
*.egg-info/

# Project artifacts
mlruns/
.mlruns/
artifacts/
data/raw/

